@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

/* switch */
.toggle-path {
  transition: background 0.3s ease-in-out;
}

.toggle-circle {
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle-path {
  background-color: #707070;
}

input:checked ~ .toggle-circle {
  transform: translateX(100%);
}

/* Slider */

/* Scroll product */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Introduction */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

/* Search */
.search > input::placeholder {
  color: #707070;
}

/* Introduction */
.middle {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cutoff {
  position: relative;
}
.text,
.desc {
  font-weight: 300;
  color: white;
  text-align: center;
  position: relative;
}

.text {
  font-size: 4rem;
}

.hr {
  margin-bottom: 15px;
  height: 1px;
  background-color: #bbb;
}
.desc {
  font-weight: 301;
  font-size: 20px;
  overflow: hidden;
  text-transform: uppercase;
}
.desc span {
  display: block;
}
